Source: lingmo-statusbar
Section: utils
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends:
    cmake (>= 3.20),
    debhelper-compat (= 13),
    qt6-base-dev (>= 6.5),
Standards-Version: 4.6.2
Homepage: https://github.com/Matrinsoft/lingmo-statusbar
Rules-Requires-Root: no

Package: lingmo-statusbar
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: lingmo-statusbar
 Lingmo Desktop lingmo-statusbar.